@if (offlineService.isOffline) {
    <div>
        {{offlineMessage}}
        @if (displayUnsavedChangesSynchronizeBadge) {
            <ngx-pwa-synchronize-badge [synchronizeDialogData]="synchronizeDialogData"></ngx-pwa-synchronize-badge>
        }
    </div>
}
@else if (offlineService.cachedRequests.length) {
    <div>
        {{unsavedChangesMessage}}
        @if (displayUnsavedChangesSynchronizeBadge) {
            <ngx-pwa-synchronize-badge [synchronizeDialogData]="synchronizeDialogData"></ngx-pwa-synchronize-badge>
        }
    </div>
}