div {
    background-color: orange;
    font-weight: bolder;
    letter-spacing: 1px;
    text-transform: uppercase;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}